
.card{

    height: 300px;
    width: 250px;
    border: solid silver 1px;
    position: relative;
}

.circle{
    width: 80px;
    height: 80px;
    background: white;
    border: solid silver 1px;
    position: absolute;
    border-radius: 50%;
    top: -50px;
    left: 50%;
    transform:translate( -50%);


}

h3{
    padding-top: 35px;
    justify-content: center;
    text-align: center;
}

.main{
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    text-align: justify;
}

.button-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box > button{
    width: 100px;
    height: 35px;
}
.container{
    height: 500px;
    display: flex;
    justify-content:center;
    align-items: center;
    column-gap: 30px;
}

i{
    font-size: 20px;
    color: coral;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}