.first{
    display: flex;
    column-gap: 20px;
    margin: 20px;
}
.container{
    height: 400px;
    width: 860px;
    background:#06bcd4 ;
    padding: 35px;
}

.left{
    display: flex;
    background: white;
    height: 110px;
    width: 400px;
    border-radius: 10px;


}

.icon{
    height: 100px;
    width: 100px;
}

.fa-pen-to-square{
    padding: 37px;
    box-sizing: border-box;
    display: flex;
    font-size: 29px;
    color: darkgray;
}

.fa-code{
    padding: 37px;
    box-sizing: border-box;
    display: flex;
    font-size: 29px;
    color: darkgray;
}

.fa-crop{
    padding: 37px;
    box-sizing: border-box;
    display: flex;
    font-size: 29px;
    color: darkgray;
}

.fa-wordpress{
    padding: 37px;
    box-sizing: border-box;
    display: flex;
    font-size: 29px;
    color: darkgray;
}

.fa-id-card{
    padding: 37px;
    box-sizing: border-box;
    display: flex;
    font-size: 29px;
    color: darkgray;
}

.fa-buysellads{
    padding: 37px;
    box-sizing: border-box;
    display: flex;
    font-size: 29px;
    color: darkgray;
}
.main{
    display: block;
    height: 80px;
}
.header{
    color: coral;
    justify-content: flex-start;
    text-align: start;
    align-items: start;
}

.text{
    justify-content: start;
    align-items: flex-start;
    font-size: 12px;
    padding-bottom: 20px;
    box-sizing: border-box;

}

.right{
    display: flex;
    background: white;
    height: 110px;
    width: 400px;
    border-radius: 10px;
}