body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 20px;
    color: white;
    margin: 0;
}

p {
    color: red;
    font-size: 25px;
    font-weight: 700;
}

.color {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #676767;
}

.father {
    margin: 0 auto;
    width: 70%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: auto;
}

/*.top{*/
/*  width: 100%;*/
/*  height: 70px;*/
/*  margin: 10px;*/
/*  background: coral;*/
/*}*/
.container {
    width: 1200px;
    height: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.first12{
    width: 100%;
    height: 200px;
    display: flex;
    background: coral;
}

.logo{
    width: 25%;
    height: 100%;
}

.header{
    width: 75%;
    height: 100%;
}
.first389 {
    width: 25%;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.nav {
    width: 100%;
    height: 60%;
}

.store-locator {
    width: 100%;
    height: 20%;
}

.tools {
    width: 100%;
    height: 20%;
}

.first4567 {
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.bath {
    width: 60%;
    height: 40%;
}

.ad {
    width: 40%;
    height: 40%;
}

.tapes-of-baths {
    width: 60%;
    height: 60%;
}

.related-products {
    width: 40%;
    height: 60%;
}
.first10{
    width: 100%;
    height: 200px;
}
.footer{
    width: 100%;
    height: 200px;
}
.first89,
.store-mobile8,
.store-mobile9,
.store-mobile8 > p,
.store-mobile8 > h3 .store-mobile9 > p,
.store-mobile9 > h3 {
    display: none;
    font-size: 0;
}

/*MEDIA*/

@media screen and (max-width: 900px) and (min-width: 1200px) {
    body {
        height: auto;
    }
    .color {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .father {
        height: auto;
    }

    .container {
        height: auto;
    }

    .first389 {
        width: 100%;
        height: auto;
    }

    .nav {
        width: 100%;
        min-height: 300px;
        margin: 10px 0 10px 0;
    }

    .store-locator {
        display: none;
    }

    .tools {
        display: none;
    }

    .first4567 {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .bath {
        width: 60%;
        height: 400px;
        margin: 10px 0 10px 0;
    }

    .ad {
        width: 40%;
        height: 400px;
        margin: 10px 0 10px 0;
    }

    .tapes-of-baths {
        width: 100%;
        height: 600px;
        margin: 10px 0 10px 0;
    }

    .related-products {
        width: 100%;
        height: 300px;
        margin: 10px 0 10px 0;
    }

    .first89 {
        display: flex;
        width: 100%;
        height: 300px;
        margin: 10px 0 10px 0;
    }

    .store-mobile8 {
        display: flex;
        width: 50%;
        height: 300px;
        margin: 10px 0 10px 0;
    }
    .store-mobile8 > p {
        font-size: 25px;
        display: block;
    }
    .store-mobile8 > h3 {
        font-size: 20px;
        display: block;
    }

    .store-mobile9 {
        display: flex;
        width: 50%;
        height: 300px;
        margin: 10px 0 10px 0;
    }
    .store-mobile9 > p {
        font-size: 25px;
        display: block;
    }
    .store-mobile9 > h3 {
        font-size: 20px;
        display: block;
    }
}
